
<html>
<head>
  <title>Slide Navbar</title>

  <link href="https://fonts.googleapis.com/css2?family=Jost:wght@500&display=swap" rel="stylesheet">
</head>

<body>
<div class="container">
  <mat-card>
    <mat-card-header><h1>Connexion</h1></mat-card-header>
    <mat-card-content>

      <form>
        <mat-form-field appearance="fill">
          <mat-label>Nom d'utilisateur</mat-label>
          <input matInput placeholder="Nom d'utilisateur" [(ngModel)]="username" name="username">
        </mat-form-field>
        <mat-form-field appearance="fill">
          <mat-label>Mot de passe</mat-label>
          <input matInput placeholder="Mot de passe" [(ngModel)]="password" name="password" type="password">
        </mat-form-field>

        <button id="btn-login" mat-raised-button color="primary" (click)="login()">Se connecter</button>
        <mat-error *ngIf="loginError">Mot de passe ou mail non valide {{ loginError }}</mat-error>
      </form>
    </mat-card-content>
  </mat-card>



</div>



</body>
</html>
