
<html>

<head>
  <title>Slide Navbar</title>

  <link href="https://fonts.googleapis.com/css2?family=Jost:wght@500&display=swap" rel="stylesheet">
</head>
<body>
<div class="login-container">
  <div *ngIf="loginError" class="error-message">{{ loginError }}</div>

  <mat-card>
    <mat-card-title>Connexion</mat-card-title>
    <mat-card-content>
      <form>
        <mat-form-field appearance="fill">
          <mat-label>Nom d'utilisateur</mat-label>
          <input matInput placeholder="Nom d'utilisateur" [(ngModel)]="username" name="username">
        </mat-form-field>
        <mat-form-field appearance="fill">
          <mat-label>Mot de passe</mat-label>
          <input matInput placeholder="Mot de passe" [(ngModel)]="password" name="password" type="password">
        </mat-form-field>
        <p>
          <button mat-raised-button color="primary" (click)="login()">Se connecter</button>
        </p>
      </form>
    </mat-card-content>
  </mat-card>
</div>
</body>
</html>
