<footer>

  <div class="footer-center">
    <div class="footer-contact">
      <h3>CONTACT</h3>
      <p>Webbook.mail</p>
    </div>
    <div class="footer-profil">
      <h3>PROFIL</h3>
    </div>
    <div class="footer-plan-site">
      <h3>PLAN DU SITE</h3>
      <ul>
        <li><a href="#">Accueil</a></li>
        <li><a href="#">Recherche</a></li>
        <li><a href="#">Conversation</a></li>
        <li><a href="#">Guide</a></li>
      </ul>
    </div>
  </div>

  <div class="copyright">
    <p>2023 WeBook</p>
  </div>
</footer>
