
<html>

<head>
  <title>Slide Navbar</title>

  <link href="https://fonts.googleapis.com/css2?family=Jost:wght@500&display=swap" rel="stylesheet">

</head>
<body>

<div class="container">

      <div>Inscription</div>

          <form>
          <div>Pseudo</div>
              <input matInput placeholder="Pseudo" [(ngModel)]="username" name="username">


            <div>Email</div>
              <input matInput placeholder="Email" [(ngModel)]="email" name="email">

            <div>Mot de passe</div>
              <input matInput placeholder="Mot de passe" [(ngModel)]="password" name="password" type="password">

            <div>Confirmez votre mot de passe</div>
              <input matInput placeholder="Confirmer le mot de passe" [(ngModel)]="confirmPassword" name="confirmPassword" type="password">


            <div>Code postale ou ville</div>
              <input matInput placeholder="Ville" [(ngModel)]="city" name="city">

          </form>

      <h2>Préférences</h2>

      <button>Horreur</button>
      <button>Fantastique</button>
      <div><button mat-raised-button color="primary" (click)="register()">S'inscrire</button></div>


</div>
</body>
</html>
