
<html>

<head>
  <title>Slide Navbar</title>

  <link href="https://fonts.googleapis.com/css2?family=Jost:wght@500&display=swap" rel="stylesheet">
</head>
<body>


<div class="register-container">
  <mat-grid-list cols="2" rowHeight="2:1">
    <mat-grid-tile>
      <mat-card>
        <mat-card-title>Inscription</mat-card-title>
        <mat-card-content>
          <form>
            <mat-form-field appearance="fill">
              <mat-label>Pseudo</mat-label>
              <input matInput placeholder="Pseudo" [(ngModel)]="username" name="username">
            </mat-form-field>

            <mat-form-field appearance="fill">
            <mat-label>Prénom</mat-label>
            <input matInput placeholder="Pseudo" [(ngModel)]="firstname" name="username">
            </mat-form-field>

            <mat-form-field appearance="fill">
              <mat-label>Nom</mat-label>
              <input matInput placeholder="Pseudo" [(ngModel)]="lastname" name="username">
            </mat-form-field>

            <mat-form-field appearance="fill">
              <mat-label>Email</mat-label>
              <input matInput placeholder="Email" [(ngModel)]="email" name="email">
            </mat-form-field>
            <mat-form-field appearance="fill">
              <mat-label>Mot de passe</mat-label>
              <input matInput placeholder="Mot de passe" [(ngModel)]="password" name="password" type="password">
            </mat-form-field>
            <mat-form-field appearance="fill">
              <mat-label>Confirmer le mot de passe</mat-label>
              <input matInput placeholder="Confirmer le mot de passe" [(ngModel)]="confirmPassword" name="confirmPassword" type="password">
            </mat-form-field>
            <mat-form-field appearance="fill">
              <mat-label>Code postal ou ville</mat-label>
              <input matInput placeholder="Code postal ou ville" [(ngModel)]="zipCode" name="postalCode">
            </mat-form-field>
          </form>
        </mat-card-content>
      </mat-card>
    </mat-grid-tile>


    <mat-grid-tile>
      <h2>Préférences</h2>
      <button>Horreur</button>
      <button>Fantastique</button>
      <div><button mat-raised-button color="primary" (click)="register()">S'inscrire</button></div>

    </mat-grid-tile>
  </mat-grid-list>

</div>

</body>
</html>
