@use "variables" as v;

.profile {
  display: flex;
  flex-direction: column-reverse;
  width: 100%;
  max-width: 1280px;

  .myLibrary {
    width: 100%;
    max-width: 896px;
    position: relative;

    h2 {
      height: 100px;
      width: 100%;
      background-color: v.$medium-green;
      display: grid;
      place-content: center;
    }
    .addBook{
      position: absolute;
      right: 30px;
      top: 120px;
      padding: 15px 15px;
      border: 3px solid v.$medium-green;
      font-size: 1rem;
      cursor: pointer;
    }
    .bookList {


      .noBooks {
        width: 100%;
        text-align: center;
        font-size: 1.2rem;
        height: 300px;
        display: grid;
        place-content: center;

      }

      #bookList {
        display: grid;
        grid-template-columns: 1fr 1fr;
      }
    }
  }

  .personalInfo {
    width: 100%;
    background-color: v.$light-green;
    padding: 10px;
    position: relative;
    font-size: 1.2rem;

    .avatar {
      width: fit-content;
      height: fit-content;
      position: relative;
      margin-bottom: 20px;

      .addAvatarBtn {
        position: absolute;
        border: 4px solid white;
        width: 30px;
        height: 30px;
        border-radius: 100%;
        padding: 0;
        bottom: 0;
        right: 6px;
        cursor: pointer;

        img {
          width: 100%;
          aspect-ratio: 1;
        }
      }
    }

    .avatar > img {
      width: clamp(100px, 5vw, 120px);
      height: clamp(100px, 5vw, 120px);
    }

    .editDataBtn {
      border: none;
      border-radius: 10px;
      width: 30px;
      height: fit-content;
      padding: 0;
      cursor: pointer;
      position: absolute;
      right: 30px;
      top: 30px;
      background-color: transparent;

      img {
        width: 100%;
      }
    }

    h3 {
      font-weight: 500;
      font-size: 1.3rem;
    }

    .preferencesContainer{
      margin-top: 30px;

      .title{
        padding-bottom: 8px;
        margin-bottom: 20px;
        border-bottom: 1px solid #a9a9a9;
      }
      .noPreferences{
        height: 70px;
        display: grid;
        place-content: center;
      }
    }
  }
}

@media screen and (min-width: 750px) {
  .profile {
    flex-direction: row;

    .myLibrary {
      width: 65%;
    }

    .personalInfo {
      width: 35%;
      padding: 55px 20px 20px;
      height: 100vh;
      display: flex;
      flex-direction: column;
      align-items: center;

      .title{
        text-align: center;
      }
    }
  }
}
