<header>
  <header>
    <label>☰</label>
    <input type="checkbox" id="toggle">
    <mat-icon>public</mat-icon>
    <span class="spacer"></span>
    <div class="center" id="myLinks">
      <a href="#">Accueil</a>
      <a href="#">Recherche</a>
      <span class="webook">WeBooK</span>
      <a href="#">Conversation</a>
      <a href="#">Guide</a>
    </div>
    <a href="javascript:void(0);" class="icon" onclick="myFunction()">
      <i class="fa fa-bars"></i>
    </a>
    <img class="miniature_profile" src="#" alt="Profile Picture">
    <a href="#">Mon profil</a>

  </header>


</header>


