header {
  display: flex;
  align-items: center;
  padding: 10px;
  background-color: white;
  box-shadow: 0 4px 4px  rgb(99,99,99,25%);
  font-size: 15px;
  color: black;
}

.center{
  margin: 20px;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
}

.webook {
  margin-left: 115px;
  margin-right: 115px;
  color: black;
  font-size: 35px;
  font-weight: 900;
  font-family: "Cinzel Decorative", serif;
  font-style: normal;
}

.spacer {
  flex: 1 1 auto;
}

header a {
  margin-left: 25px;
  margin-right: 25px;
  text-decoration: none;
  font-family: "Mulish", serif;
  font-weight: bold;
}

a {
  color: inherit;
  transition: color .2s cubic-bezier(.33,.66,.66,1);
}

a:hover{
  color: #ACD4D7;
  font-weight: bolder;
  text-decoration: underline #ACD4D7;
}

header img {
  border-radius: 100%;
  border: 2px solid red;
  width: 60px;
  height: 60px;
}
label, #toggle {
  display: none;
}
/* Media Queries */
@media all and (max-width: 700px) {
  label
  {
    width: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    font-size: 40px;
    color: white;
    cursor: pointer;
  }
}
