
.container {
  display: flex;
  justify-content: center;
  align-items:center;
  height: 100%;
  background-color: #b8b8b8;
}

mat-card {
  width: 90%;
  max-width: 400px;
}

mat-card-header {
  display: block;
  text-align: center;
}
  mat-form-field{
    width: 100%;
  }
  mat-error{
    display:block;
    width:100%;
    text-align:center;
    font-size:smaller;
  }

#btn-login {
  width: 100%;
}



