

section {
  display: table;
}

.example-label {
  display: table-cell;
  font-size: 14px;
  margin-left: 8px;
  min-width: 120px;
}

.mat-raised-button {
  display: table-cell;
  max-width: 600px;
  background-color: rgba(76, 162, 168, 0.2);
  padding: 10px 20px;
  color: black;
}

button {
  margin: 25px;
  background-color: rgb(76, 162,168, 20%);
  font-weight: bold;
  font-family: "Mulish", serif;
  color: black;
  border: 1px solid #ACD4D7;
  padding: 10px 20px;
  text-align: center;
  text-transform: uppercase;
  box-shadow: 0 4px 4px rgb(99,99,99,25%), inset 0 4px rgb(99,99,99,5%);
  transition: all 0.3s ease;

}
button:hover {
  border-width: 2px;
  font-size: 110%;
}

button:active {
  transform: scale(0.95);
}

.example-flex-container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.example-button-container {
  display: flex;
  justify-content: center;
  width: 120px;
}

html,body,p,ol,ul,li,dl,dt,dd,blockquote,figure,fieldset,legend,textarea,pre,iframe,hr,h1,h2,h3,h4,h5,h6{
  margin:0;padding:0
}
h1,h2,h3,h4,h5,h6{
  font-size:100%;font-weight:normal}
ul{list-style:none}
button,input,select{margin:0}
html{box-sizing:border-box}
*,*::before,*::after{box-sizing:inherit}
img,video{height:auto;max-width:100%}iframe{border:0}table{border-collapse:collapse;border-spacing:0}td,th{padding:0}

