<div class="container-barre-recherche">
  <p>Recherche avec un mot clé ou la carte</p>
<!--  <mat-form-field class="example-form-field">-->
<!--    <mat-label>Recherche avec mot clé ou code postal</mat-label>-->
<!--    <input matInput type="text" [(ngModel)]="searchText">-->
<!--    @if(searchText){-->
<!--    <button matSuffix mat-icon-button aria-label="Clear" (click)="searchText=''">-->
<!--      <mat-icon>close</mat-icon>-->
<!--    </button>}-->
<!--  </mat-form-field>-->
  <input [(ngModel)]="searchText" placeholder="Recherche avec mot clé ou code postal">
<!--  @if(searchText){-->
<!--    <button matSuffix mat-icon-button aria-label="Clear" (click)="searchText=''">-->
<!--    <mat-icon>recherche</mat-icon>-->
<!--    </button>}-->
  <button>Afficher carte</button>
</div>

<div class="filters">
  <p>FILTRER par :</p>
  <select name="category" (change)="onCategoryChange($event.target)">
    <option value="">- Catégory -</option>
    <option *ngFor="let category of categories" [value]="category">{{category}}</option>
  </select>
  <select name="author" (change)="onAuthorChange($event.target)">
    <option value="">- Auteur -</option>
    <option *ngFor="let auteur of Auteurs" [value]="auteur">{{auteur}}</option>
  </select>
  <select name="map" (change)="onMapChange($event.target)">
    <option value="">- Localisation -</option>
    <option *ngFor="let map of Maps" [value]="map">{{map}}</option>
  </select>
</div>

<div class="container-resultat-recherche">
  <a *ngFor="let mockBook of mockBooks" [routerLink]="['page-book', mockBook.id]">
    <img class="picture-book" [src]="mockBook.image" alt="book picture">
  </a>
</div>
