<div class="container">
  <img class="banner-img" src="#" alt="Bookshelf image">

  <div class="container-presentation">
    <h1>ECHANGE TES LIVRES</h1>
    <p>WeBook est une plateforme pour les amateurs de livres qui cherchent à échanger leurs trésors préférés et découvrir de nouveaux auteurs. Notre communauté de lecteurs passionnés facilite la recherche de votre prochaine venture littéraire en partageant leurs expériences.</p>
    <button routerLink="/recherche">Chercher un livre</button>
    <button>Publier un livre</button>
  </div>
</div>

<p class="container-titre-recommendation">Recommendation</p>

<div class="container-recommendation">
  <a *ngFor="let mockBook of mockBooks" [routerLink]="['page-book']">
    <img class="picture-book" [src]="mockBook.image" alt="book picture">
  </a>
</div>

<!--  <a [routerLink]="['/page-book/id']">-->
<!--    <img class="picture-book" src="assets/pictures/L-Inconnue-du-portrait.jpg" alt="book picture">-->
<!--  </a>-->
<!--  <a [routerLink]="['/page-book/id']">-->
<!--    <img class="picture-book" src="assets/pictures/La-Louisiane.jpg" alt="book picture">-->
<!--  </a>-->
<!--  <a [routerLink]="['/page-book/id']">-->
<!--    <img class="picture-book" src="assets/pictures/La-vie-heureuse.jpg" alt="book picture">-->
<!--  </a>-->
<!--  <a [routerLink]="['/page-book/id']">-->
<!--    <img class="picture-book" src="assets/pictures/Les-Yeux-de-Mona.jpg" alt="book picture">-->
<!--  </a>-->
<!--  <a [routerLink]="['/page-book/id']">-->
<!--    <img class="picture-book" src="assets/pictures/Book_inconnu.png" alt="book picture">-->
<!--  </a>-->



