
<div class="container">
  <div class="container-presentation">
    <h1>ECHANGE TES LIVRES</h1>
    <p>WeBook est une plateforme pour les amateurs de livres qui cherchent à échanger leurs trésors préférés et découvrir de nouveaux auteurs. Notre communauté de lecteurs passionnés facilite la recherche de votre prochaine venture littéraire en partageant leurs expériences.</p>
    <button>Chercher un livre</button>
    <button>Publier un livre</button>
  </div>
  <img src="#" alt="Bookshelf image">
</div>

